<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paghiper_general>
                <active>0</active>
                <invoice_after_confirmation>1</invoice_after_confirmation>
                <dias_vencimento>3</dias_vencimento>
                <bypass_cron_expiration>0</bypass_cron_expiration>
                <debug_log>0</debug_log>
            </paghiper_general>
            <paghiper_boleto>
                <active>1</active>
                <payment_action>order</payment_action>
                <title>PagHiper - Boleto Bancário</title>
                <model>Paghiper\Magento2\Model\Method\Boleto</model>
                <percentual_multa>0</percentual_multa>
                <juros_atraso>0</juros_atraso>
                <dias_pagamento_antecipado>0</dias_pagamento_antecipado>
                <valor_desconto_antecipado>0.00</valor_desconto_antecipado>
                <numero_apos_vencimento>0</numero_apos_vencimento>
                <order_status>pending</order_status>
                <sort_order>1</sort_order>
            </paghiper_boleto>
            <paghiper_pix>
                <active>1</active>
                <payment_action>order</payment_action>
                <title>PagHiper - PIX</title>
                <model>Paghiper\Magento2\Model\Method\Pix</model>
                <pix_expiration>10</pix_expiration>
                <order_status>pending</order_status>
                <sort_order>2</sort_order>
            </paghiper_pix>
        </payment>
    </default>
</config>