<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Sales\Model\Order">
    <plugin name="paghiper_bypass_cron_cancel" type="Paghiper\Magento2\Plugin\OrderCanCancelPlugin" sortOrder="10"/>
  </type>
</config>