<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="paghiper" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>PagHiper - General Settings</label>
        <!--Inicio configurações Gerais-->
        <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Enabled</label>
          <comment>Enable or disable the module.</comment>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="api_key" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Api Key</label>
          <validate>required-entry</validate>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>
        <field id="token" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Token</label>
          <validate>required-entry</validate>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>
        <!--Fim das configurações gerais-->
        <!-- Opções boleto e Pix-->
        <field id="validade" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Validity Days</label>
          <validate>required-entry validate-digits</validate>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>
        <field id="invoice_auto" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Invoice After Confirmed Payment?</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>        
      </group>
      <group id="paghiper_boleto" translate="label comment" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>PagHiper - Boleto Settings</label>
        <field id="ativar_boleto" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="percentual_multa" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Penalty Percentage</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <comment>Maximum 2%</comment>
          <validate>required-entry validate-number</validate>
        </field>
        <field id="juros_atraso" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Interest for Late Payment</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <comment>Maximum 1% interest applies per month, this percentage will be charged proportionally to the days of delay.</comment>
          <validate>required-entry validate-number</validate>
        </field>
        <field id="dias_pagamento_antecipado" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Number of Discount Days</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <comment>Number of days in which payment can be made in advance and receive the extra discount.</comment>
          <validate>required-entry validate-digits</validate>
        </field>
        <field id="valor_desconto_antecipado" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Discount Value for Early Payment</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <comment>Amount of discount that will be applied if payment is made in advance.</comment>
          <validate>required-entry validate-number</validate>
        </field>
        <field id="numero_apos_vencimento" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Number of Days After Expiry</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <comment>Maximum number of days in which the bill can be paid after the due date.</comment>
          <validate>required-entry validate-digits</validate>
        </field>
      </group>
      <!--Fim das opções de boleto-->
      <!-- Inicio configurações Pix -->
      <group id="paghiper_pix" translate="label comment" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>PagHiper - Pix Settings</label>
        <field id="ativar_pix" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
      </group>
      <!-- Fim configurações pix -->
    </section>
  </system>
</config> 